.buttons {
    display: flex;
    gap: 10px;

    button {
        padding: 10px;
        border: none;
        font-weight: bold;
        cursor: pointer;
        border-radius: 10px;
        &:first-child {
            background-color: rgba(0, 0, 255, 0.055);
        }
        &:last-child {
            background-color: rgba(255, 0, 0, 0.356);
        }
    }
}