.personalInfoSection {
    background-color: #0e374e;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 150px;
    padding: 30px;

    h1 {
        margin-top: 20px;
        font-size: 35px;
    }

    .details {
        display: flex;
       
        justify-content: space-evenly;
        width: 90%;
        height: 70px;
        padding: 10px;

        .detail {
            display: flex;
            gap: 10px;
            align-items: center;
            font-size: 20px;
        }
    }
}